$pattern-border: 1px solid $color-grey-light-2;
$pattern-border-semi: 1px solid $color-grey-light-1;
$pattern-border-dark: 1px solid $color-grey-dark-2;
$pattern-shadow: 0px 0px 2px $color-grey-light-1;
$pattern-shadow-dark: 0px 3px 6px #000000;