<div class="offer-modal" id="offer-modal" data-controller="modal" data-target="offer.modal">
    <div class="modal-content">
        <div class="offer-info">
            <h3 class="message">SIGA OS PASSOS DA PROMOÇÃO</h3>
            <h4 class="product-name" data-target="modal.title "></h4>
            <%= image_tag '', class: "product-image", data: { target: "modal.photo" } %>
            <div class="modal-offer">
                <div class="price">
                    <span>Total</span>       
                    <span class="price" data-target="modal.price">R$</span>
                </div>
            </div>
            <div class="modal-buttons" data-target="modal.coupon">
                
            </div>
            <div class="modal-buttons">
                <%= link_to "Me leve para Loja", "", class: "store-btn", data: { target: "modal.store" } %>
            </div>
        </div>
    </div>
</div>

