<div class="offer-modal" id="offer-modal" data-controller="modal" data-target="offer.modal">
    <div class="modal-content">
      <span class="modal-close" data-action="click->modal#closeModal"><i class="fas fa-times"></i></span>
      <div class="offer-info">
        <h4 class="product-name" data-target="modal.title "></h4>
        <%= image_tag '', class: "product-image", data: { target: "modal.photo" } %>
        <div class="price">
            <span class="coin">R$</span><span class="value" data-target="modal.price"></span>
        </div>
        <div class="body" data-target="modal.body">
        </div>
        <div class="modal-buttons">
            <div class="coupon" data-target="modal.coupon"></div>
            <%= link_to "Me leve para Loja", "", class: "main-btn", target: "_blank", data: { target: "modal.link" } %>
        </div>
      </div>
      <div class="warning">
        *os preços são dinâmicos e estão sujeitos a alterações do lojista a qualquer momento.
      </div>
    </div>
</div>

